# Environment variables (VERY IMPORTANT)
.env

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Build files
dist/
build/

# uv (optional but recommended)
.uv/